.sign-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.form_card {
  background-color: white;
  border-radius: 15px;
  padding-inline: 40px;
  padding-block: 20px;
  max-width: 561px;
  overflow-y: scroll;
}
.cancel_icon{
    cursor: pointer;
    color: #111;
    padding: 0;
      font-size: 1.6rem;
      background-color: rgba(255, 170, 0, 1);
      border: none;
      border-radius: 2rem;
      padding: .3rem;
      font-weight: 900;

}
.welcome-text h3{
  font-size: 31px;
  line-height: 37.21px;
}
.welcome-text p{
  font-size: 21px;
  line-height: 30px;
}

.eye-icon{
  top: 12px;
  right: 0;
}
form > div > button, #email, #password{
  padding-block: 10px !important;
}
.continue-btn > div > button:hover{
  background-color: var(--neutral-color-f) !important;
}
.sign-up-link{
  color: var(--primary-color);
}
.sign-up-link:hover{
  background-color: var(--neutral-color-f) !important;
}
.terms a{
  text-decoration: none;
  color: var(--black);
}