div > div h6, div > div p{
    font-size: 1.313rem;
    line-height: 1.688rem;
}

div > div span{
    font-size: 0.875rem;
}

@media screen and (max-width: 427px) {
    .expert_card > img{
        width: 3rem !important;
        height: 3rem !important;
    }
    .expert_card > div >h6,
    .expert_card > div >p{
        font-size: 0.8rem !important;
        line-height: 1rem !important;
    }
}