nav p,
nav li a,
nav button,
input::placeholder {
  font-size: 0.83rem !important;
  line-height: 1.125rem;
}

ul > li,
nav > div > li {
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  color: var(--black);
}

.badge_icon {
  background-color: var(--black);
}

input {
  border: none !important;
}
.tutor-button{
 cursor: pointer;
}

@media screen and (max-width: 427px) {
  .nav{
    padding-inline: 1rem !important;
  }
  .menu_list{
    display: none !important;
  }
}