nav p, nav li a, nav button, input::placeholder{
    font-size: 0.83rem !important;
    line-height: 1.125rem ;
}

ul > li{
    list-style: none;
}

ul >li>a{
    text-decoration: none;
    color: var(--black);

}

.badge_icon{
    background-color: var(--black);
}

input{
    border: none !important;
}

