.footer{
    background-color: var(--secondary-color) !important;
}

footer > div > div> div > ul li{
    list-style: none !important;
}

.address_container p, footer > div > div> div > ul li, footer h5{
    font-size: 1.313rem;
    line-height: 1.688rem;
}

input::placeholder{
    font-size: 1.125rem;
}

hr{
    border: none;
    width: 29px;
    border-radius: 1rem;
    border-bottom: 2px solid var(--primary-color);
}

.subscribe button{
    background-color: var(--primary-color);
    font-weight: bold;
}

.subscribe button:hover{
    background-color: var(--primary-color);
}

.logo{
    width: 9rem;
}