.hero {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    ),
    url("../../assets/images/hero_image.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero_description h1,
.hero_description h1 > span {
  font-size: 2.563rem;
  line-height: 3.076rem;
}

.hero_description h6 {
  line-height: 2rem;
}

.trending_categories p,
.hero_description h6,
.more_about_us > div > p,
.expore_courses p,
.tutor > div > p,
.testimonial_heading p {
  font-size: 1.313rem;
}

.hero_description button {
  font-weight: bold;
}

.more_about_us > h4 > span,
.hero_description > h1 > span,
.stay_informed > div > div > h4 > span {
  color: var(--primary-color);
}

.trending_categories h4,
.more_about_us h4,
.more_about_us > h4 > span,
.expore_courses h4,
.tutor > div > h4,
.testimonial_heading h4,
.stay_informed > div > div > h4,
.stay_informed > div > div > h4 > span,
.FAQ > div > div > h4 {
  font-size: 2.5rem !important;
}

.trending_categories p {
  line-height: 1.5rem;
}

.category_icon {
  width: 9rem;
  height: 9rem;
}

.performance_metrics > div > p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.logos {
  background-color: var(--dark-blue);
}

.more_about_us button {
  font-size: 0.9rem;
  line-height: 1.125rem;
}

.expore_courses p {
  line-height: 1.688rem;
}

.tutor {
  width: 72rem;
}

.tutor > div > p {
  line-height: 1.8rem;
}

.nav-link {
  color: black;
}

.course-tabs .active {
  border-bottom: 3px solid var(--primary-color) !important;
  border-inline: none;
  border-top: none;
  color: var(--primary-color) !important;
}
.course-tabs {
  border-bottom: 3px solid var(--secondary-color) !important;
}

.testimonials {
  height: 19.125rem;
  background-color: var(--secondary-color);
  margin-block: 6rem;
}

.testimonials > div {
  top: -100px;
}

.stay_informed,
.performance_metrics {
  background-color: var(--secondary-color);
}

.stay_informed form > div > button,
.see_insturctor_btn,
.arrrow_right,
.explore {
  background-color: var(--primary-color);
}

.stay_informed button {
  font-size: 1.125rem;
}

.stay_informed button:hover {
  background-color: var(--primary-color);
}

.badge,
.stay_informed form > div > input,
.category_icon {
  background-color: var(--light-brown) !important;
}

.FAQ h2 > button {
  font-weight: bold !important;
  padding-inline: 0 !important;
}

.accordion-button:hover {
  background-color: var(--neutral-color-f) !important;
}

.sw {
  transform: translateY(120px);
}

#course-swiper{
  transform: scale(0.9);
}

@media screen and (max-width: 379px) {
  
  .hero_description h1, .hero_description h1 > span{
    font-size: 2rem !important;
  }
  .hero{
    text-align: center;
  }

  div > a > p, div>p{
    font-size: 0.8rem !important;
    line-height: 1rem !important;
  }
  .category_icon{
    width: 4rem !important;
    height: 4rem !important;
  }
  .category_icon > img{
     width: 2rem !important;
    height: 2rem !important;
  }
  section:nth-child(6) > div{
    gap: 1rem !important;
  }
  .expert_card{
    margin-bottom: 0 !important;
  }
  
}

@media screen and (max-width: 427px) {
  .trending_categories h4, .more_about_us h4, 
  .more_about_us > h4 > span, .expore_courses h4, 
  .tutor > div > h4, .testimonial_heading h4, 
  .stay_informed > div > div > h4, 
  .stay_informed > div > div > h4 > span, .FAQ > div > div > h4{
    font-size: 2rem !important;
    line-height: 2.625rem !important;
  }
  br{
    display: none !important;
  }
  .hero_description{
    width: 100% !important;
    padding-left: 0 !important;
  }
  .category_icon {
  width: 5rem;
  height: 5rem;
}
  .category_icon > img{
    width: 3rem;
    height: 3rem;
  }
  .hero, section:nth-child(4),#top-category{
    padding: 1rem !important;
  }
  .course-tabs{
    width: 100% !important;
  }
  .more_about_us{
    padding: 0 !important;
  }
   section:nth-child(6) > div > div:nth-child(1) > img{
    display: none;
  }


  section:nth-child(7){
    padding: 1rem !important;
  }

  .tutor{
    width: 100% !important;
    padding: 0 !important;
    
    justify-content: space-between !important;
    gap: 2rem !important;
  }
  .tutor > div{
    justify-content: space-between !important;
    gap: 1rem !important;
  }
  .performance_metrics{
    width: 100% !important;
    border-radius: 1rem !important;
    gap: 0 !important;
  }
  .performance_metrics > div{
    padding-inline: 0.5rem !important;
  }

  #course-swiper{
  transform: none;
}
  
  .stay_informed{
    padding: 1rem !important;
  }
  .stay_informed > div{
    margin: 0 !important;
    padding: 0 !important;
  }
  .stay_informed > div > div{
    width: 100% !important;
  }
  #emailAddress{
    width: 100% !important;
  }
  .FAQ{
    padding: 1rem !important;
  }
  .FAQ > div{
    padding-inline: 0px !important;
    margin-inline: 0px !important;
  }
  .FAQ > div > div{
    width: 100% !important;
  }
  .FAQ > div >div:nth-child(2)>img{
    display: none;
  }
  .FAQ > div > div > h4{
    text-align: center;
  }
  .FAQ_badge, .more_badge{
    text-align: center;

  }
}